.pagination-toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    margin: 10px;
    padding: 10px;
    background-color: rgba(44, 230, 255, 0.1);
    border-radius: 5px;

    border: 1px solid rgba(0, 0, 0, 0.1);
}

.page-word {
    font-weight: 600;
    font-size: 1.2em;
}
.pagination-toolbar-second-column{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding: 4px;
    align-items: center;
    justify-items: center;
}
.pagination-toolbar__page-number {
    font-weight: 600;
    padding: 2px;
    font-size: 1.2em;
}