.statistic-page-container{
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.data_picker_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin-bottom: 16px;
}

.stat-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}